pyrogram==2.0.106
tgcrypto==1.2.5
motor==3.4.0
pymongo==4.5.0
python-dotenv
aiohttp
telegraph[aio]
fuzzywuzzy
shortzy==0.0.8
aiofiles
beautifulsoup4
python-Levenshtein
fastapi==0.111.0
starlette==0.37.2
uvicorn[standard]
jinja2
requests
itsdangerous
uvloop
python-multipart
